
<ion-content fullscreen>

   <div class="logo-container">
    <img src="/assets/images/logo sc 3.svg" alt="Logo" class="logo">
  </div> 

 <h2 class="titulo_trilha">Bem-vindo as trilhas!</h2>
 <p class="texto-introducao">Reflita sobre seu uso da tecnologia com nossas atividades rapidas.Identifique padrões, 
  receba dicas praticas e descubra como equilibar vida online e offline para melhorar seu bem-estar</p>

   <ion-searchbar placeholder="Busque por um assunto..." (ionInput)="onSearchChange($event)"></ion-searchbar> 

  <p class="todas_trilhas">Todas as trilhas</p>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let trilha of trilhas" size="4" size-md="4" size-lg="3">
      <ion-card class="trilha-card" button id={{trilha.id}} (click)="goToModulos(trilha.id)">
        <ion-card-header>
          <ion-icon [name]="trilha.icon"></ion-icon>
          <ion-card-content>
            <h3>{{ trilha.title }}</h3>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
