

<ion-content [fullscreen]="true">
<h1 class="titulo-pag">Módulos</h1>
  <ion-list>
    <div *ngFor="let topico of topics" class="container-topicos" button (click)="openModal(topico.id)">
      <h1>{{topico.order_position}}</h1>
      <div class="container-title-descripition">
        <h5>{{topico.title}}</h5>
        <p>{{topico.description}}</p>
      </div>
    </div>
  </ion-list>
  <ion-button class="close-button" (click)="goBack()">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-button>
</ion-content>
