

<ion-content [fullscreen]="true">
  <div class="header">
    <img src="assets/images/logo sc 3.svg" alt="">
    <h1>Videos para você!</h1>
    <h3>Assista conteúdos sobre os assuntos que você mais se interessa </h3>
  </div>
  <div class="divisor"></div>

  <h2 class="category">Sugestões</h2>
  <div class="video-container">
    <div class="scroll-videos">
    
    </div>
  </div>
  
  <div class="flex-center">
    <ion-select [(ngModel)]="selectedTag" placeholder="Filtre por categoria" (ionChange)="filterVideos($event)" class="filter" fill="solid">
      <ion-select-option *ngFor="let categoria of videosCategories" [value]="categoria">
        {{categoria}}
      </ion-select-option>
    </ion-select>
    <ion-button (click)="clearFilter()">X</ion-button>
  </div>

  <div class="video-container">
    <div class="scroll-videos">
      <div *ngFor="let video of fiteredVideos" button (click)="goToFullVideo(video.title)" class="video" >
        <img [src]="video.tumbnail" alt="" (error)="onImgError($event)">
        <div class="container-likes">
          <ion-icon name="heart"></ion-icon>
          <p>{{video.likes}}</p>
        </div>
        <p class="title">{{video.title}}</p>
      </div>
    </div>
  </div>
</ion-content>
