

<ion-content [fullscreen]="true">

  
  <div class="header">
    <img src="assets/images/logo sc 3.svg" alt="">
    <h1>Videos para você!</h1>
    <h3>Assista conteúdos sobre os assuntos que você mais se interessa </h3>
  </div>
  <div class="divisor"></div>

  <h2 class="category">Sugestões</h2>
  

  <ion-grid>
  <ion-row >
    <ion-col *ngFor="let video of videos" size="4z">
      <div class="video-container">
        <div class="scroll-videos">
          <div button (click)="goToFullVideo(video.id)" class="video" >
            <img [src]="video.tumbURL" alt="" (error)="onImgError($event)">
            <div class="container-likes">
              <ion-icon name="heart"></ion-icon>
            </div>
            <p class="title">{{video.title}}</p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>
