<ion-content fullscreen>
  <ng-container *ngIf="errorPageMensage.length != 0 else noError">
    <h1>{{errorPageMensage}}</h1>
    <h2>Retornando ao login...</h2>
    <lord-icon
    src="https://cdn.lordicon.com/ircnfpus.json"
    trigger="loop"
    delay="100"
    style="width:30px;height:30px; rotate: 180deg;">
</lord-icon>
  </ng-container>
  <ng-template #noError>
    <ion-grid>
      <div class="container-welcome">
        <img src="assets/images/logo sc 3.svg" alt="">
        <div>
          <h1>Olá, </h1>
          <h2>Seja bem vindo!</h2>
        </div>
      </div>
  
      <div class="container-sugestion">
        <h2>Sugestões</h2>
        <div>
          <ion-card button (click)="goToPage(sugestions[0].url)">
            <ion-icon name={{sugestions[0].icon}}></ion-icon>
            <h5>{{sugestions[0].title}}</h5>
          </ion-card>
          <ion-card button (click)="goToPage(sugestions[1].url)">
            <ion-icon name={{sugestions[1].icon}}></ion-icon>
            <h5>{{sugestions[1].title}}</h5>
          </ion-card>
          <ion-card button (click)="goToPage(sugestions[2].url)">
            <ion-icon name={{sugestions[2].icon}}></ion-icon>
            <h5>{{sugestions[2].title}}</h5>
          </ion-card>
        </div>
      </div>
  
      <!-- News -->
      <div class="container-section-title">
        <div class="divisor"></div>
        <h2 class="section-title">
          <ion-icon name="newspaper"></ion-icon>
          News
        </h2>
        <div class="divisor"></div>
      </div>
      
      <ion-spinner *ngIf="isLoading else noLoadingNews" name="crescent" class="loading-spinner" color="danger"></ion-spinner>
      <ng-template #noLoadingNews>
        <ng-container *ngIf="!news || news.length === 0 || undefined || null else withNews" >
          <h2 class="error-mensage">Não foi possível carregar as noticias, tente novamente mais tarde!</h2>
        </ng-container>
        <ng-template #withNews>
          <ion-row>
            <ion-col size="12">
                <div class="container-news">
                    <div class="ajust-position-news" [style.transform]="'translateX(' + newsTranslante + 'px)'">
                    <ion-card ion-card ion-card class="news-card" *ngFor="let news of news" button (click)="goToLink(news.url)">
                    <img src={{news.imagem}} alt="Notícia"  (error)="handleImageError($event)"/>
                    <div class="news-overlay">
                      <h3>{{news.titulo}}</h3>
                      <p>{{news.autor}} - {{news.publicado_em}}</p>
                    </div>
                    </ion-card>
                  </div>
                </div>
            </ion-col>
          </ion-row>
      </ng-template>
  </ng-template>

  <div class="container-section-title">
    <div class="divisor"></div>
    <h2 class="section-title">
      <ion-icon name="book"></ion-icon>
      Literatura
    </h2>
    <div class="divisor"></div>
  </div>
  
    <ion-spinner *ngIf="isLoading else noLoadingBooks" name="crescent" class="loading-spinner" color="danger"></ion-spinner>
      <ng-template #noLoadingBooks>
        <ng-container *ngIf="!books || news.length === 0 || undefined || null else withBooks"  >
          <h2 class="error-mensage">Não foi possível carregar os livros, tente novamente mais tarde!</h2>
        </ng-container>
        <ng-template #withBooks>
            <!-- Literatura (sem slide, em grid) -->
            <ion-row>
              <ion-col size="12" >
                <h2 class="sugestoes">Sugestões</h2>
                <div class="container-books">
                  <div class="ajust-position-books" [style.transform]="'translateX(' + booksTranslate + 'px)'">
                    <ion-card *ngFor="let book of books" button>
                      <img src={{book.cover}} (error)="handleImageError($event)" />
                      <ion-card-header>
                        <ion-card-title>{{ limitChar(book.title) }}</ion-card-title>
                        <ion-card-subtitle>{{ limitChar(book.author) }}</ion-card-subtitle>
                        <a [href]="gerarLinkAmazon(book.title,book.author)" target="_blank">Ver na <ion-icon name="logo-amazon"></ion-icon> Amazon</a>
                      </ion-card-header>
                    </ion-card>
                  </div>  
                </div>
              </ion-col>
            </ion-row>
        </ng-template>
    </ng-template>
 
  <div class="container-section-title">
    <div class="divisor"></div>
    <h2 class="section-title">
      <ion-icon name="file-tray-full"></ion-icon>
      Artigos
    </h2>
    <div class="divisor"></div>
  </div>
    
    <ion-spinner *ngIf="isLoading else noLoadingArticles" name="crescent" class="loading-spinner" color="danger"></ion-spinner>
      <ng-template #noLoadingArticles>
          <ng-container *ngIf="!articles || articles.length === 0 || undefined || null else withArticles" >
            <h2 class="error-mensage">Não foi possível carregar os artigos, tente novamente mais tarde!</h2>
          </ng-container>
          <ng-template #withArticles>
              <!-- Artigos -->
              <ion-row>
                <ion-col size="12">
                  <h2 class="sugestoes">Sugestões</h2>
                  <ion-card class="article-card" *ngFor="let article of articles" button (click)="goToLink(article.link)" >
                    <ion-card-content>
                      <h3>{{ article.title }}</h3>
                      <p class="author">{{ article.authors }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
          </ng-template>
      </ng-template>
  
    </ion-grid>
  </ng-template>
</ion-content>
