<ion-content fullscreen>
  
  <ion-icon [name]="icon" class="bg"></ion-icon>

  <ion-button class="exit-button" (click)="backToActivities()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  
  <div class="content-title">
    <ion-icon [name]="icon"></ion-icon>
    <h1>{{title}}</h1>
  </div>
 
  <div *ngFor="let atividade of allActivitie[0].activities" >
    <div class="title-activities">
      <h2>{{ atividade.title }}</h2>
      <p>{{ formatMinutesHours(atividade.doTime) }} </p>
    </div>
    
    <div class="container-objetivo">
      <strong>Objetivo:</strong> {{ atividade.objective }}
    </div>
    <ul>
      <li *ngFor="let step of atividade.steps">{{ step }}</li>
    </ul>
    <hr>
  </div> 
  <div class="feedback">
    <p>Completou as atividades? Conte-nos como foi a experiência!</p>
    <ion-button expand="full" (click)="openModal()">
      <ion-icon name="document-text"></ion-icon>
      RESPONDER QUESTIONÁRIO AVALIATIVO</ion-button>
  </div>
</ion-content>