
<ion-content>
  <ion-button (click)="closeModal()" class="back">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="modal-container">
    <img [src]="assistance.image" alt="{{ assistance.name }}" (error)="assistance.image = genericImage">

    <h2>{{ assistance.name }}</h2>
    <p class="location" button (click)="abrirGoogleMaps(assistance.location)">{{ assistance.location }}</p>
    <p class="phone">{{ assistance.phone }}</p>

    <p class="description">{{ assistance.description }}</p>

    <div class="services">
      <ion-chip *ngFor="let service of assistance.services">
        {{ service }}
      </ion-chip>
    </div>

    <ion-button class="contact" (click)="copyToClipboard(assistance.phone)">
      <ion-icon name="call" class="icon" slot="start"></ion-icon>
      Entrar em contato
    </ion-button>
  </div>
</ion-content>
