ion-item{
    --background: none;
    color: black;
}

ion-list{
    background: none;
    color: black;
}

ion-radio{
    color: #3f2b96;
    --color: #3f2b96;
    --color-checked: #004b7e;
}

ion-content{
    margin-top:3rem;
}

.questionnaire{
    margin-top: 3rem;
}

.send{
    --background: #3f2b96;
    color: white;
    margin-top: 2rem;
}

.back{
    --background: none;
    --border-style:solid;
    --border-width: 2px;
    --border-color: black;

}

.back-button{
    position: absolute;
    top: 1rem;
    left: 1rem;
    --background:white;
    width:3rem ;
    height: 3rem;
    font-size: 1rem;
    --border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }