@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* Termina totalmente visível */
  }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background-color: #f5f5f5;
  
    .logo {
      width: 20rem;
      margin-bottom: 2rem;
    }
  
    h1 {
      font-size: 24px;
      color: #4b0082;
      margin-bottom: 20px;
    }
  
    ion-input{
      width: 90%;
      --color: grey;
      
      --highlight-color: #3f2b96;
      --background: rgb(226, 226, 226);
      margin:0.5rem;

    }
    
    i{
      color: #4b0082;
    }


      
  
    .register-link {
      margin-top: 1rem;
  
      p {
        font-size: 1rem;
  
        a {
          color: #4b0082;
          text-decoration: none;
        }
      }
    }
  
    .footer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 1rem;

    img{
        width: 6rem;
        margin-left: 0.5rem;
    }
  }
}

ion-label{
  width: 90%;
  color:#a72424;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
ion-toast{
  --background: #3f2b96;
  --color: white;
}

ion-spinner{
  --color:white;
  color:white;
}

.button-style{
  opacity: 0; /* Começa totalmente transparente */
  animation: fadeIn 0.5s ease-in forwards; /* Aplica a animação */
  color: white;
  margin-left: 10px;

}

.button-style-fail{
  width: 90%;
  height: 3rem;
  font-size: 1rem;
  color: #fff;
  --ion-color-primary: linear-gradient(to bottom right, #3D348B, #a72424);
  margin-top: 2rem;
  transition: 1s;
}
.button-style-sucess{
  width: 90%;
  height: 3rem;
  font-size: 1rem;
  color: #fff;
  --ion-color-primary:linear-gradient(to bottom right, #3D348B, #34778b);
  margin-top: 2rem;
  transition: 1s;
}
.button-style-default {
  width: 90%;
  height: 3rem;
  font-size: 1rem;
  color: #fff;
  --ion-color-primary:#3f2b96; 
  --background-activated:#251d6d ;
  margin-top: 2rem;
  transition: 1s;
}



