<ion-content class="ion-padding" fullscreen="true">

  <!-- Sugestões -->
   <div class="container-nova-nota">
    <ion-text class="sugestoes-titulo">Sugestões</ion-text>
    <div class="container-icone">
      <ion-icon name="document-text" class="icone" button id="open-new-note" (click)="abrirModal()"></ion-icon>
      <ion-label>Nova nota</ion-label>
    </div>
   </div>



  <!-- Nota do diário -->
   <ion-list>
  
    <ion-card class="caixa-nota" *ngFor="let note of sortByDateAllNotes">
      <ng-container *ngIf="note.title else noTitle">
        <h2>{{note.title}}</h2>
      </ng-container>
      <ng-template #noTitle>
      </ng-template>
      <ion-text class="titulo-nota">{{note.noteType}}</ion-text>
      <p class="texto-nota">{{note.content}}</p>
      <ion-text class="data-nota">{{formatIsoDateToEn(note.noteDate)}}</ion-text>
    </ion-card>
   </ion-list>
</ion-content>

