<ion-tabs style="background:none;" >

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="trilhas" href="/tabs/trilhas">
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="atividades" href="/tabs/atividades">
      <ion-icon name="leaf"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="app-videos" href="/tabs/appvideos">
      <ion-icon name="videocam"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="medicalassistance" href="/tabs/medicalassistance" >
      <ion-icon name="medical"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="configuracoes" href="/tabs/configuracoes">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
