

.container {
    --background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-card {
    width: 90%;
    height: 100%;
    margin: 2rem auto;
    border-radius: 12px;
    box-shadow: none;
    background: transparent;
  
    ion-card-content {
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin-top: 3rem;
      gap: 1rem;
      height: 95%;
    }
    ion-card-title{
      font-size: 2rem;
      align-self: center;
      margin-bottom: 2rem;
      font-weight: 700;
      color: #3D348B;
    }
  
    ion-item {
      --background: transparent;
      --highlight-color: #3f2b96; // roxo escuro
      --min-height: 48px;
      --color: #3D348B;
    }
  
  
    ion-input,
    ion-textarea,
    ion-select {
      font-size: 1rem;
      min-height: 3rem;
      color: grey;
      width: 100%;
      --border-width:2px;
      --highlight-color: #3f2b96;
      margin: 0px;
    }

    ion-select::part(icon){
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      color: #3D348B;
    }
  
    .button-group {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
  
      ion-button {
        border-radius: 30px;
        height: 3rem;
      }
  
      .save-btn {
        --background:#3D348B;
        color: white;
      }
  
      .cancel-btn {
        --border-color:#3D348B;
        color: #3f2b96;
        background: transparent;
      }
    }
  }