
<ion-content fullscreen>
  <div class="header">
    <img src="../../assets/images/logo sc 3.svg" alt="Logo" class="logo">
    <h1>Apoio Psicológico ao Seu Alcance</h1>
    <p>Encontre psicólogos e clínicas especializadas perto de você. Atendimento humanizado para crianças, adolescentes e adultos.</p>
  </div>

  <div class="container-search">
    <ion-input placeholder="Pesquisar" fill="solid" (ionInput)="onSearchChange($event)">
      <ion-icon slot="start" name="search" aria-hidden="true" ></ion-icon>
    </ion-input>
  </div>
  
  <ng-container *ngIf="filteredAssistances.length != 0 else noAssistance">
    <ion-card *ngFor="let assistance of filteredAssistances" button (click)="openModal(assistance)">
      <img [src]="assistance.image" alt="Clinic Image" (error)="handleImageError($event)">
      <ion-card-header>
        <ion-card-title>{{ assistance.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="container-map">
          <ion-icon name="map"></ion-icon>
          <ion-card-subtitle>{{ assistance.bairro }}, {{assistance.cidade}} - {{assistance.estado}}</ion-card-subtitle>
        </div>
        <div class="container-phone">
          <ion-icon name="call"></ion-icon>
          <p>{{ assistance.phoneNumber }}</p>
        </div>
        <div class="services">
          <ion-chip *ngFor="let service of assistance.specialities">
            {{ service }}
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
</ng-container>
<ng-template #noAssistance>
  <div class="container-not-found">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <h2>Nenhum serviço encontrado!</h2>
    <h3>Tente verificar a ortografia ou usar outros termos relacionados</h3>
  </div>
</ng-template>

</ion-content>
