.container {
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    width: 12rem;
    margin-bottom: 20px;
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 24px;
    color: #3c3c3c;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    label {
      font-weight: bold;
      margin-top: 10px;
    }
  
    ion-input, ion-select {
        width: 90%;
        margin-bottom: 1rem;
        --color: grey !important;
        color: grey;
        --highlight-color: #3f2b96 !important;
        --background: rgb(226, 226, 226) !important;
        align-items: start;
        text-align: start;
    }
  
    ion-button {
      width: 80%;
      --background:#3f2b96 !important;
      color: white;
      margin-top: 20px;
    }
  }

  .exit-button{
    position: absolute;
    top: 1rem;
    left: 1rem;
    --background: white;
    color:#3f2b96;
    --box-shadow:none;
    --border-radius: 100px;
    height:3rem;
  }
  .senha-verifier{
    width: 90%;
    text-align: start;
  }

  .container-error{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(173, 3, 3);
    text-align: start;
    border: 2px solid rgb(172, 0, 9);
    background-color: rgb(253, 124, 131);
    border-radius: 15px;
    margin-bottom: 1rem;

    ul{
      margin-bottom:0.5rem;
      margin-top: 0px;
      padding-top: 0px;
    }
    p{
      text-align: start;
      padding: 0rem 2rem;
      color: rgb(173, 3, 3);
      margin-top: 0px;
    }
    h3{
      margin: 0.5rem 0px;
      color: rgb(173, 3, 3);
      text-align: center;
    }
  }