<ion-content #content>
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="SuportChain Logo" class="logo">
    </div>
    <h1>Cadastro</h1>

    <div [style]="errorMenssage.length == 0 ? 'visibility:collapse': 'visibility:visible'" class="container-error">
      <h3>Erro no cadastro</h3>
      <p>Alguns erros foram encontrados ao realizar o seu cadastro:</p>
      <ul>
        <li *ngFor="let erro of errorMenssage">
          {{erro}}
        </li>
      </ul>
    </div>
    <form (ngSubmit)="onregister()" [style]="errorMenssage.length == 0 ? 'transform:translateY(-8rem)':'transform:translateY(0)'" >
      <ion-input class="input" fill="solid" type="text" label="Nome" labelPlacement="floating" [(ngModel)]="usuario.nome" name="nome" required maxlength="15"></ion-input>

      <ion-input fill="solid" type="text" label="Sobrenome" labelPlacement="floating" [(ngModel)]="usuario.sobrenome" name="sobrenome" required maxlength="60"></ion-input>

      <ion-input fill="solid" type="email" label="Email" labelPlacement="floating" [(ngModel)]="usuario.email" name="email" required></ion-input>

      <ion-select fill="solid" label="Sexo" labelPlacement="floating"  [(ngModel)]="usuario.sexo" name="sexo" required>
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="feminino">Feminino</ion-select-option>
      </ion-select>

      <ion-select  fill="solid" label="Estado Civil" labelPlacement="floating" [(ngModel)]="usuario.estado_civil" name="estado_civil" required>
        <ion-select-option value="solteiro">Solteiro(a)</ion-select-option>
        <ion-select-option value="casado">Casado(a)</ion-select-option>
        <ion-select-option value="divorciado">Divorciado(a)</ion-select-option>
      </ion-select>

      <ion-input fill="solid" type="date" label="Data de Nascimento" labelPlacement="floating" [(ngModel)]="usuario.data_nascimento" name="data_de_nascimento" required></ion-input>

      <ion-input fill="solid" type="tel" label="Nº de Telefone" labelPlacement="floating" [(ngModel)]="usuario.numero_telefone" name="numero_de_telefone" required (ionInput)="formatarTelefone($event)" maxlength="15" ></ion-input>

      <ion-select  fill="solid" label="Estado" labelPlacement="floating" [(ngModel)]="usuario.estado" name="estado" required (ionChange)="getIdForMunicipio()">
        <ion-select-option *ngFor=" let estado of listEstados" [value]="estado?.nome">{{estado.nome}}</ion-select-option>
      </ion-select>

      <ion-select  fill="solid" label="Cidade" labelPlacement="floating" [(ngModel)]="usuario.cidade" name="cidade" required [disabled]="listMunicipios.length == 0 ? true : false">
        <ion-select-option *ngFor=" let municipio of listMunicipios" [value]="municipio">{{municipio}}</ion-select-option>
      </ion-select>

      <ion-input fill="solid" type="text" label="Bairro" labelPlacement="floating" [(ngModel)]="usuario.bairro" name="bairro" required [disabled]="listMunicipios.length == 0 ? true : false" maxlength="60"></ion-input>
      
      
      <ion-input fill="solid" type="text" label="Senha" labelPlacement="floating" [(ngModel)]="usuario.senha" name="senha" required (ionInput)="verificarForcaSenha()">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-label [color]="corForca" class="senha-verifier">
        Nível da senha:
        <ion-icon [name]="iconForca"></ion-icon>
        {{ textoForca }}
      </ion-label>

      <ion-button expand="full"  type="submit" id="open-toast">Próximo</ion-button>
    </form>
    <ion-button class="exit-button" (click)="goToLogin()" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-toast trigger="open-toast" [message]="errorMenssage.length == 0 ? 'Cadastro realizado com sucesso!':'Erro ao realizar cadastro'" [duration]="1000" [icon]="errorMenssage.length == 0 ? 'checkbox' :'warning'"></ion-toast>
</ion-content>