
<ion-card class="form-card">
  
  <ion-card-content>
    <ion-card-title >NOVA NOTA</ion-card-title>
    <ion-item lines="none">
      <ion-input [(ngModel)]="newNote.title"  label="Título" labelPlacement="floating" fill="solid"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-textarea
        label="Conteúdo"
        labelPlacement="floating"
        fill="solid"
        auto-grow="true"
        [(ngModel)]="newNote.content">
      </ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-select [(ngModel)]="newNote.noteType" fill="solid" label="" labelPlacement="floating" interface="action-sheet">
        <!--TENHO QUE AJUSTAR OS ION-SELECT-OPTIONS-->
        <ion-select-option value="nota">Nota</ion-select-option>
        <ion-select-option value="alerta">Alerta</ion-select-option>
        <ion-select-option value="importante">Importante</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="button-group">
      <ion-button expand="block" class="save-btn" (click)="sendDataTest()">Salvar</ion-button>
      <ion-button expand="block" fill="outline" class="cancel-btn" (click)="closeModal()">Cancelar</ion-button>
    </div>
  </ion-card-content>
</ion-card>